AIRFLOW_UID=50000
MINIO_ENDPOINT=http://minio:9000
AWS_ACCESS_KEY_ID=minio_admin
AWS_SECRET_ACCESS_KEY=minio_password123
MLFLOW_TRACKING_URI=http://mlflow_server:5000
TRAIN_EPOCHS=10
TRAIN_BATCH_SIZE=16
TRAIN_DEVICE=0